@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("TrueType");
}
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("TrueType");
}
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("TrueType");
}

:root {
  /* Colors - Primary */
  --clr-primary-100: hsl(275, 100%, 97%);
  --clr-primary-600: hsl(292, 16%, 49%);
  --clr-primary-950: hsl(292, 42%, 14%);

  /* Colors - Neutral */
  --clr-neutral-100: hsl(0, 100%, 100%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  /* Colors - Accent */
  --clr-accent-1: hsl(281 83% 54%);

  /* Font Families */
  --ff-base: "Work Sans", sans-serif;

  /* Font Sizes */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 2rem; /* 32px */
  --fs-xl: 3.5rem; /* 56px */

  --fs-title: clamp(2rem, 1.75rem + 1.1vw, 3.5rem);

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  /* Margin / Padding Spaces */
  --space-xs: 0.5rem; /*  8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 2.5rem; /* 40px */
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* ******** GENERAL STYLES ******** */
body {
  --bg-img: url("./assets/images/background-pattern-mobile.svg");

  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-950);
  padding: var(--space-md);
  align-content: center;
  background: var(--bg-img), var(--clr-primary-100);
  background-repeat: no-repeat;
  background-size: contain;

  @media (width > 38em) {
    --bg-img: url("./assets/images/background-pattern-desktop.svg");
  }
}

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 38rem;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flex-flow {
  display: flex;
  gap: var(--gap, 1rem);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-center {
  align-items: center;
  justify-content: center;
}

/* ******** UTILITIES ******** */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.bg-light {
  background: var(--clr-neutral-100);
}

.title {
  font-size: var(--fs-title);
}

.title::before {
  content: url("./assets/images/icon-star.svg");
  margin-inline-end: var(--space-md);
}

/* ******** COMPONENTS ******** */
summary:hover {
  cursor: pointer;
}

summary::marker {
  content: "";
}
/* ******** BLOCK STYLE ******** */

/* ******** EXCEPTIONS ******** */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-block-start: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
