@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("TrueType");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("TrueType");
}

:root {
  /* Colors - Primary */
  --clr-primary-100: hsl(275, 100%, 97%);
  --clr-primary-600: hsl(292, 16%, 49%);
  --clr-primary-950: hsl(292, 42%, 14%);

  /* Colors - Neutral */
  --clr-neutral-100: hsl(0, 100%, 100%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  /* Colors - Accent */
  --clr-accent-1: hsl(281 83% 54%);

  /* Font Families */
  --ff-base: "Work Sans", sans-serif;

  /* Font Sizes */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 2rem; /* 32px */
  --fs-xl: 3.5rem; /* 56px */

  --fs-title: clamp(2rem, 0.94rem + 4.69vw, 3.5rem);

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  /* Margin / Padding Spaces */
  --space-xs: 0.5rem; /*  8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 2.5rem; /* 40px */

  /* Spaces - step up pairs */
  --space-md-xl: clamp(1.5rem, 1rem + 2.25vw, 2.5rem);

  interpolate-size: allow-keywords;
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* ******** GENERAL STYLES ******** */
body {
  --bg-img: url("./assets/images/background-pattern-mobile.svg");

  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-950);
  padding: var(--space-md);
  align-content: center;
  background: var(--bg-img), var(--clr-primary-100);
  background-repeat: no-repeat;
  background-size: contain;

  @media (width > 38em) {
    --bg-img: url("./assets/images/background-pattern-desktop.svg");
  }
}

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 38rem;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

/* ******** UTILITIES ******** */
.bg-light {
  background: var(--clr-neutral-100);
}

.title {
  font-size: var(--fs-title);
  display: flex;
  gap: var(--space-md);
  align-items: center;
}

.title::before {
  content: url("./assets/images/icon-star.svg");
}

.padding-md-xl {
  padding: var(--space-md-xl);
}

/* ******** COMPONENTS ******** */
.faq {
  --flow-space: var(--space-md);

  border-radius: 1rem;
  box-shadow: 0 2rem 3.5rem hsl(from var(--clr-primary-950) h s l / 0.1);
}

.faq details {
  --summary-icon: url("./assets/images/icon-plus.svg");
}

.faq details[open] {
  --summary-icon: url("./assets/images/icon-minus.svg");
}

.faq details::details-content {
  --animation-time: 500ms;

  color: var(--clr-primary-600);
  block-size: 0;
  overflow: hidden;
  /* prettier-ignore */
  transition: 
    block-size var(--animation-time) ease-out, 
    content-visibility var(--animation-time) allow-discrete
  ;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.faq details[open]::details-content {
  block-size: auto;
}

.faq details + details {
  margin-block-end: var(--flow-space);
  border-top: 1px solid var(--clr-primary-100);
}

.faq details + details:last-child {
  margin-block-end: 0;
}

.faq details summary {
  font-weight: var(--fw-medium);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-block-start: var(--space-md);
}

.faq details summary::after {
  content: var(--summary-icon);
}

.faq details summary:hover,
.faq details summary:focus-visible {
  cursor: pointer;
  color: var(--clr-accent-1);
  outline-color: var(--clr-primary-600);
  outline-offset: 2px;
}

.faq details summary::marker {
  content: "";
}

/* ******** BLOCK STYLE ******** */

/* ******** EXCEPTIONS ******** */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
}
.attribution a {
  color: var(--clr-accent-1);
}
